* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #666;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: none;
}
li {
  list-style: none;
}
html {
  font-size: 50px;
}
@media screen and (max-width: 319px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  min-width: 320px;
  max-width: 750px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}
.xiazai {
  position: relative;
  width: 15rem;
  height: 2rem;
}
.xiazai img {
  width: 100%;
}
.xiazai .close {
  position: absolute;
  display: block;
  top: 50%;
  left: 0.4rem;
  transform: translateY(-50%);
  width: 0.6rem;
  height: 0.6rem;
  background: url(../images/close.png) no-repeat;
  background-size: 0.6rem auto;
}
.header {
  width: 15rem;
  height: 3.6rem;
  background-color: #FFDB47;
}
.header .header-1 {
  position: relative;
  overflow: hidden;
  width: 15rem;
  height: 1.76rem;
}
.header .header-1::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0.4rem;
  margin-top: -0.6rem;
  content: "";
  width: 0.72rem;
  height: 1.2rem;
  background: url(../images/fenlei.png) no-repeat;
  background-size: 0.72rem 1.2rem;
}
.header .header-1::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0.4rem;
  margin-top: -0.6rem;
  content: "";
  width: 0.72rem;
  height: 1.2rem;
  background: url(../images/login.png) no-repeat;
  background-size: 0.72rem 1.2rem;
}
.header .header-1 .header-con {
  margin: 0.24rem auto 0;
  width: 6.4rem;
  height: 1.28rem;
  background: url(../images/header2.gif) no-repeat;
  background-size: 6.4rem 1.28rem;
}
.header .header-2 {
  position: relative;
  overflow: hidden;
  height: 1.84rem;
  margin: 0 0.4rem;
}
.header .header-2 .search {
  margin-top: 0.24rem;
  height: 1.28rem;
  background-color: #fff;
  border-radius: 0.64rem;
  line-height: 1.28rem;
  color: #666;
  font-size: 0.6rem;
  padding-left: 1.4rem;
}
.header .header-2::before {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  margin-top: -0.36rem;
  content: "";
  width: 0.72rem;
  height: 0.72rem;
  background: url(../images/fdj.png) no-repeat;
  background-size: 0.72rem auto;
  vertical-align: middle;
}
.banner {
  position: relative;
  width: 15rem;
  height: 4.82rem;
}
.banner img {
  width: 15rem;
  height: 4.82rem;
}
.banner .banner-a {
  position: absolute;
  top: 0;
  left: 0.4rem;
  width: 14.2rem;
  height: 4.82rem;
  background: url(../upload/banner1.jpg) no-repeat 0 -2.82rem;
  background-size: 14.2rem 7.64rem;
  border-radius: 0.3rem;
}
.nav-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.1rem 0.4rem;
  width: 14.2rem;
  border-radius: 0.3rem;
  overflow: hidden;
}
.nav-one a {
  display: inline-block;
  flex: 33.33%;
  width: 5rem;
}
.nav-one a img {
  width: 100%;
}
.nav-two {
  width: 15rem;
}
.nav-two .nav-two-ul {
  display: flex;
  flex-wrap: wrap;
}
.nav-two .nav-two-ul li {
  margin-top: 0.2rem;
  flex: 20%;
}
.nav-two .nav-two-ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.44rem;
}
.nav-two .nav-two-ul li a span[class^="icon"] {
  width: 1.68rem;
  height: 1.68rem;
  background-size: 1.68rem auto;
}
.nav-two .nav-two-ul li a .icon1 {
  background: url(../upload/icon1.png) no-repeat;
}
.nav-two .nav-two-ul li a .icon2 {
  background: url(../upload/icon2.png) no-repeat;
}
.nav-two .nav-two-ul li a .icon3 {
  background: url(../upload/icon3.png) no-repeat;
}
.nav-two .nav-two-ul li a .icon4 {
  background: url(../upload/icon4.png) no-repeat;
}
.nav-two .nav-two-ul li a .icon5 {
  background: url(../upload/icon5.png) no-repeat;
}
.nav-two .nav-two-ul li a .icon6 {
  background: url(../upload/icon6.png) no-repeat;
}
.nav-two .nav-two-ul li a .icon7 {
  background: url(../upload/icon7.png) no-repeat;
}
.nav-two .nav-two-ul li a .icon8 {
  background: url(../upload/icon8.png) no-repeat;
}
.nav-two .nav-two-ul li a .icon9 {
  background: url(../upload/icon9.png) no-repeat;
}
.nav-two .nav-two-ul li a .icon10 {
  background: url(../upload/icon10.png) no-repeat;
}
.ad {
  display: flex;
  margin: 0.4rem 0 2.2rem;
  width: 14.2rem;
}
.ad a:nth-child(1) img {
  width: 7.47rem;
  height: 4.68rem;
}
.ad a:nth-child(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.ad a:nth-child(2) img {
  width: 3.725rem;
  height: 4.68rem;
}
.ad a:nth-child(3) img {
  width: 3.725rem;
  height: 4.68rem;
}
.footer {
  position: fixed;
  bottom: 0rem;
  display: flex;
  width: 15rem;
  height: 2rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.footer a {
  flex: 1;
  font-size: 0.44rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer a span[class^="footer-btn"] {
  width: 0.96rem;
  height: 0.96rem;
}
.footer a span[class^="footer-btn"] img {
  width: 0.96rem;
  height: 0.96rem;
}
