* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #666;
    text-decoration: none;
}
img {
    vertical-align: middle;
}
li {
    list-style: none;
}

// 媒体查询
html {
    font-size: 50px;
}
@media screen and (max-width:319px){
    
}