// 把common样式表导入到index.css中
@import "common";

@basefont :50;
body {
    min-width: 320px;
    max-width: 750px;
    width: 15rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;

}
// 顶部下载广告
.xiazai {
    position: relative;
    width: 15rem;
    height: 2rem;
    img {
        width: 100%;
    }
    .close {
        position: absolute;
        display: block;
        top: 50%;
        left: .4rem;
        transform: translateY(-50%);
        width: .6rem;
        height: .6rem;
        background: url(../images/close.png) no-repeat;
        background-size: .6rem auto;
    }
}
// 头部
.header {
    width: 15rem;
    height: 3.6rem;
    background-color: #FFDB47;
    .header-1 {
        position: relative;
        overflow: hidden;
        width: 15rem;
        height: 1.76rem;
        &::before {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: .4rem;
            margin-top: -.6rem;
            content: "";
            width: .72rem;
            height: 1.2rem;
            background: url(../images/fenlei.png) no-repeat;
            background-size: .72rem 1.2rem;
        }
        &::after {
            display: inline-block;
            position: absolute;
            top: 50%;
            right: .4rem;
            margin-top: -.6rem;
            content: "";
            width: .72rem;
            height: 1.2rem;
            background: url(../images/login.png) no-repeat;
            background-size: .72rem 1.2rem; 
        }
        .header-con{
            margin: .24rem auto 0;
            width: 6.4rem;
            height: 1.28rem;
            background: url(../images/header2.gif) no-repeat;
            background-size: 6.4rem 1.28rem;
        }
    }
    .header-2 {
        position: relative;
        overflow: hidden;
        height: 1.84rem; 
        margin: 0 .4rem;
        .search{
            margin-top: .24rem;
            height: 1.28rem;
            background-color: #fff;
            border-radius: .64rem;
            line-height: 1.28rem;
            color:#666;
            font-size: .6rem;
            padding-left: 1.4rem;
        }
        &::before{
            position: absolute;
            top: 50%;
            left:.5rem;
            margin-top: -.36rem;
            content: "";
            width: .72rem;
            height: .72rem;
            background: url(../images/fdj.png) no-repeat;
            background-size: .72rem auto;
            vertical-align: middle;
        }

    }
}
// banner图 
.banner{
    position: relative;
    width: 15rem;
    height: 4.82rem;
    img{
        width: 15rem;
        height: 4.82rem;
    }
    .banner-a{
        position: absolute;
        top: 0;
        left:.4rem;
        width: 14.2rem;
        height: 4.82rem;
        background: url(../upload/banner1.jpg) no-repeat 0 -2.82rem;
        background-size: 14.2rem 7.64rem;
        border-radius: .3rem;  
    }
}
// nav-one
.nav-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .1rem .4rem;
    width: 14.2rem;
    border-radius: .3rem;
    overflow: hidden;
    a{
        display: inline-block;
        flex: 33.33%;
        width: 5rem;
        img{
            width: 100%;
        }
        // &:nth-child(-n+2){
        //     border-right: 1px solid #fff;
        // }
    }
}
// nav-two
.nav-two{
    width: 15rem;
    // background-color: #ddd;
    .nav-two-ul{
        display: flex;
        flex-wrap: wrap;

        li{
            margin-top: .2rem;
            flex: 20%;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: .44rem;
                span[class^="icon"]{
                    width: 1.68rem;
                    height: 1.68rem; 
                    background-size: 1.68rem auto;   
                }
                .icon1{
                    background: url(../upload/icon1.png) no-repeat;
                }
                .icon2{
                    background: url(../upload/icon2.png) no-repeat;
                }
                .icon3{
                    background: url(../upload/icon3.png) no-repeat;
                }
                .icon4{
                    background: url(../upload/icon4.png) no-repeat;
                }
                .icon5{
                    background: url(../upload/icon5.png) no-repeat;
                }
                .icon6{
                    background: url(../upload/icon6.png) no-repeat;
                }
                .icon7{
                    background: url(../upload/icon7.png) no-repeat;
                }
                .icon8{
                    background: url(../upload/icon8.png) no-repeat;
                }
                .icon9{
                    background: url(../upload/icon9.png) no-repeat;
                }
                .icon10{
                    background: url(../upload/icon10.png) no-repeat;
                }
            }
        }
    }
}

// 广告
.ad {
    // display:flex;
    margin: .4rem 0 2.2rem;
    width: 14.2rem;
    a{
        &:nth-child(1){
            // flex: 2;
            img{
                width: 7.47rem;
                height: 4.68rem;
            }
        }
        &:nth-child(2){
            // flex: 1;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;

            img{
                width: 3.725rem;
                height: 4.68rem;
            }
        }
        &:nth-child(3){
            // flex: 1;
            img{
                width: 3.725rem;
                height: 4.68rem;
            }
        }
    }
}

// 底部
.footer {

    position: fixed;
    bottom: 0rem;
    display: flex;
    width: 15rem;
    height: 2rem;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    a{
        flex:1;
        font-size: .44rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        span[class^="footer-btn"]{
            width: .96rem;
            height: .96rem;
            img{
                width: .96rem;
                height: .96rem;
            }
        }
    }

}