* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: skyblue;
}

h3 {
  width: 100%;
  float: left;
  margin-left: 100px;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  float: left;
  margin-left: 100px;
}

td {
  border: 1px solid #fff;
  width: 25px;
  height: 25px;
}

.c1 {
  background: #666;
}

.c2 {
  background: slateblue;
}