* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #707070;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  line-height: 1.5;
  height: 1500px;
  background-color: #f2f4f7;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.warp {
  background-color: #fff;
  padding-bottom: 1.173333rem;
}
.header {
  height: 2.133333rem;
  text-align: center;
  line-height: 2.133333rem;
  border-bottom: 1px solid #eaeaea;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.6rem;
}
.nav a {
  flex: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.666667rem;
}
.nav a img {
  width: 3.706667rem;
  height: 3.706667rem;
  margin: 1.173333rem 0 0.426667rem;
}
.go {
  margin: 0 0.4rem;
}
