/* 版心 */
.w{
    width: 1200px;
    margin:0 auto;
}
/* shortcut部分开始 */
.shortcut{
    height: 32px;
    background-color: #f1f1f1;
    line-height: 32px;
}
.login{
    float: left;
}
.login .zhuce{
    color: red;
}
.topnav{
    float: right;
}
.topnav li{
    float: left;
    margin:0 5px;
}
.topnav a{
    margin-left:5px;
}
.topnav li::before{
    content: '\e63a';
    color:#666;
}
.topnav li:first-child:before{
    content: '';
}
.topnav li:nth-child(n+5)::after{
    content: '\e61a';
    padding-left:5px;
    color:#666;
    font-weight: 400;
    cursor: pointer;
}
/* shortcut部分结束 */

/* header 部分开始 */
.header{
    height: 105px;
}
.logo{
    float: left;
    margin:25px 173px 0 0;
    width: 171px;
    height: 61px;  
    font-size:0;

}
.headercenter{
    float: left;
    width: 538px;
    height: 80px;
    margin-top: 25px;
}
.search{
    width: 538px;
    height: 36px;
    border: 2px solid #c81623;
    line-height: 36px;
}
.search input{
    float: left;
    border:0;
    width: 454px;
    height: 32px;
    padding-left:10px;
    font-size: 14px;
    color:#666;
    outline: none;
}
.search button{
    float: right;
    width: 80px;
    height: 32px;
    border: 0;
    background-color: #c81623;
    line-height: 32px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.hotwords li{
    float: left;
    height: 44px;
    margin-top: 8px;
}
.hotwords li:first-child a{
    color: red;
}
.hotwords li a{
    padding:0 12px;
}
.shopcar{
    float: right;
    position: relative;
    border: 1px solid #dfdfdf;
    width: 140px;
    height: 36px;
    margin:25px 63px 0 0;
    color:#666;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    background-color: #f7f7f7;
    cursor: pointer;
}
.shopcar::before{
    content: '\e707';
    color:red;
    padding-right: 5px;
    font-weight: 700;
}
.shopcar::after{
    content: '\e62d';
    padding-left: 5px;
}
.shopcar .number{
    position: absolute;
    top:-15px;
    left:100px;
    /*不要用右对齐，不然买多了，也会出现左偏移
     right:10px; */
    /* 不能给宽度，不然用户买100件，就出框了；
    width: 20px; */
    /* 用padding会比较好 */
    padding:0 8px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 10px 10px 10px 0;
    background-color: red;
    font-size: 10px;
    color: #fff;
}
/* header 部分结束 */

/* 底部 footer 部分开始 */
.footer{
    height: 420px;
    background-color: #f5f5f5;
    margin: 30px 0 5px 0;
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.3);
}
.footercon_1{
    height: 110px;
    border-bottom: 1px solid #ddd;
}
.footercon_1 li{
    position: relative;
    float: left;
    width: 240px;
    height: 110px;
    padding-left: 110px;
}
.footercon_1 h3{
    margin-top: 30px;
    font-size: 14px;
    color: #333;
}
.footercon_1 p{
    margin-top: 5px;
    font-size: 12px;
    color: #555;
}
.footercon_1 li::before{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left:50px;
    display: inline-block;
    content: '';
    width: 50px;
    height: 50px;
}
.footercon_1 li:nth-of-type(1)::before{
    background:url(../images/icons.png) no-repeat -253px -3px;
}
.footercon_1 li:nth-of-type(2)::before{
    background:url(../images/icons.png) no-repeat -255px -54px;
}
.footercon_1 li:nth-of-type(3)::before{
    background:url(../images/icons.png) no-repeat -256px -106px;
}
.footercon_1 li:nth-of-type(4)::before{
    background:url(../images/icons.png) no-repeat -257px -157px;
}
.footercon_1 li:nth-of-type(5)::before{
    background:url(../images/icons.png) no-repeat -258px -209px;
}
.footercon_2{
    height: 188px;
    margin-top: 21px;
    border-bottom: 1px solid #ddd;
}
.footercon_2 dl{
    float: left;
    margin-left: 115px;
}
.footercon_2 dt{
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}
.footercon_2 dd{
    margin-bottom: 5px;
    font-size: 12px;
    color: #666;
}
.juzhong{
    margin-left: -12px;
    text-align: center;
}
.footercon_3{

    text-align: center;
    margin-top: 20px;
}
.footercon_3_list ul{
    margin-left: 117px;
}
.footercon_3_list li{
    float: left;
}
.footercon_3_list li a{
    font-size: 12px;
    color:#666;
}
.footercon_3_list li::after{
    content: '\e63a';
    padding:0 10px;
}
.footercon_3_list li:last-child::after{
    content: '';
}
.footercon_3 p{
    margin-top: 10px;
    font-size: 12px;
    color:#666;
}
/* 底部 footer 部分结束 */