/* 分类 category 部分开始 */
.category{
    height: 47px;
    border-bottom: 2px solid #c81623;
}
.caption{
    float: left;
    margin-right: 15px;
    width: 209px;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 47px;
    cursor: default;
}
.capcontent{
    float: left;
    height: 47px;
    font-size: 16px;
    color: #333;
    line-height: 47px;
}
.capcontent li{
    float: left;
    padding:0 26px;
}
/* 分类 category 部分结束 */

/* 主界面 main 部分开始 */
.main{
    height: 465px;
}
.mainlist{
    float: left;
    position: relative;
    width: 209px;
    height: 465px;
    border: 1px solid #c81623;
    margin: -1px 10px 0 0;
}
.mainlist li{
    padding-left: 10px;
    margin-left: -1px;
    background-color: #c81623;
    width: 209px;
    height: 31px;
    line-height: 31px;
    cursor: pointer;
}
.mainlist li::after{
    position: absolute;
    right:10px;
    content:'\e62d';
    color: #fff;
}
.mainlist li:hover{
    background-color: #fff;
    border: 1px solid #c81623;

}
.mainlist li a{
    font-size: 14px;
    color: #fff;
}
.mainlist li:hover a{
    color: #c81623;
}
.mainlist li:hover::after{
    color: #c81623;
}
.banner{
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    margin-top: 10px;
}
.banner::before{
    position: absolute;
    display: none;
    content: '';
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, .5) url(../images/arr.png) no-repeat center;
}
.banner:hover::before{
    display: block;
    cursor: pointer;
}
.mainmore{
    float: right;
    margin-top: 10px;
    width: 249px;
    height: 455px;
}
.news{
    width: 249px;
    height: 165px;
    border: 1px solid #666;
}
.newstitle{
    border-bottom: 1px dashed #666;
    height: 34px;
    line-height: 34px;
    cursor: pointer;
}
.newstitle h3{
    float: left;
    padding-left: 10px;
    font-size: 16px;
    color:#333;
    font-weight: 400;
}
.newstitle span{
    float: right;
    color:#333;
}
.newstitle span::after{
    content: '\e62d';
    font-weight: 700;
    padding:0 10px 0 3px;
}
.news li{
    padding:6px 15px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news li a{
    color: #333;
}
.news li a:hover{
    color: red;
}
.news li:nth-of-type(2n)::before {
    content:'【公告】';
    color: #333;
    font-weight: 700;
    padding-right: 3px;
}
.news li:nth-of-type(2n+1)::before {
    content:'【特惠】';
    color: #333;
    font-weight: 700;
    padding-right: 3px;
}
 .more{
    margin-bottom: 5px;
    width: 249px;
    height: 210px;
    border-left:1px solid #666;

}
.more li{
    float: left;
    width: 62px;
    height: 70px;
    text-align: center;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    cursor: pointer;
}
.more li a{
    display: block;
    color:#333;
}
.more li a:hover{
    color: red;
}
.more li:nth-of-type(n)::before{
    display: inline-block;
    content: '';
    margin-top: 15px;
    width: 24px;
    height: 24px;
}
.more li:nth-of-type(1)::before{
    background: url(../images/icons.png) no-repeat -17px -16px;
} 
.more li:nth-of-type(2)::before{
    background: url(../images/icons.png) no-repeat -80px -18px;
} 
.more li:nth-of-type(3)::before{
    background: url(../images/icons.png) no-repeat -143px -18px;
} 
.more li:nth-of-type(4)::before{
    background: url(../images/icons.png) no-repeat -206px -18px;
} 
.more li:nth-of-type(5)::before{
    background: url(../images/icons.png) no-repeat -17px -88px;
} 
.more li:nth-of-type(6)::before{
    background: url(../images/icons.png) no-repeat -80px -88px;
} 
.more li:nth-of-type(7)::before{
    background: url(../images/icons.png) no-repeat -143px -88px;
} 
.more li:nth-of-type(8)::before{
    background: url(../images/icons.png) no-repeat -206px -88px;
} 
.more li:nth-of-type(9)::before{
    background: url(../images/icons.png) no-repeat -17px -160px;
} 
.more li:nth-of-type(10)::before{
    background: url(../images/icons.png) no-repeat -80px -160px;
} 
.more li:nth-of-type(11)::before{
    background: url(../images/icons.png) no-repeat -143px -155px;
} 
.more li:nth-of-type(12)::before{
    background: url(../images/icons.png) no-repeat -206px -160px;
} 
.bargain img{
    width: 249px;
    height: 75px;
}
/* 主界面 main 部分结束 */

/* 今日推荐 recommend 部分开始 */
.recommend{
    height: 163px;
    margin-top: 10px;
}
.chart{
    float: left;
    width: 208px;
    height: 163px;
    background: rgba(0, 0, 0, .5) url(../images/recom.png) no-repeat center;
}
.chartright{
    float: left;
    width: 248px;
    height: 163px;
    background-color: #ebebeb;
}
.special{
    float: left;
    margin-top: 22px;
    padding-left: 19px;
    /* width: 110px; */
    height: 143px;
}
.specialhd{
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
.specialp1{
    margin-bottom: 3px;
    padding: 0 3px;
    font-size: 14px;
    color:#fff;
    font-weight: 700;
    background-color: #00a0e8;
}
.chartright:nth-of-type(3) .specialp1{
    background-color: #e2162f;
}
.chartright:nth-of-type(4) .specialp1{
    background-color:purple;
}
.chartright:nth-of-type(5) .specialp1{
    background-color: #5fb200;
}
.specialp2{
    font-size: 12px;
    color: #666;   
    font-weight: 700;
}
.specialbtn{
    margin-top: 20px;
    border: 0;
    width: 60px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #00a0e8;
    border-radius: 9px;
}
.chartright:nth-of-type(3) .specialbtn{
    background-color: #e2162f;
}
.chartright:nth-of-type(4) .specialbtn{
    background-color:purple;
}
.chartright:nth-of-type(5) .specialbtn{
    background-color: #5fb200;
}
.specialimg{
    float: right;
    margin-top: 10px;
    padding-right: 30px;
    width: 138px;
    height: 143px;
    border-right:1px solid #ddd;
}
.chartright:last-child .specialimg{
    border-right: 0;
}
.chartright:nth-of-type(2) .specialimg{
    background: url(../upload/tixudao.png) no-repeat center;
}
.chartright:nth-of-type(3) .specialimg{
    background: url(../upload/maojin.png) no-repeat center;
}
.chartright:nth-of-type(4) .specialimg{
    background: url(../upload/chenshan.png) no-repeat center;
}
.chartright:nth-of-type(5) .specialimg{
    background: url(../upload/shoubiao.png) no-repeat center;
}
/* 今日推荐 recommend 部分结束 */

/* 猜你喜欢 like 部分开始 */
.like{
    height: 262px;
    margin-top: 20px;
}
.likehd{
    height: 32px;
}
.likehd h3{
    float: left;
    font-size: 18px; 
    padding-bottom: 5px;
    color: #333;
}
.likehd span{
    float: right;
    padding-top: 6px;
    font-size: 12px;
    color: #666;
    cursor: pointer;
}
.likehd span:hover{
    color: red;
}
.likehd span::after{
    content: '\e640';
    font-size: 14px;
    font-weight: 700;
    padding:0 20px 0 5px;
}
.likecontent{
   border:1px solid #ddd; 
   height: 230px; 
}
.likecontent li{
    float: left;
    width: 199px;
}
.likecontent li::before{
    content: '';
    display: block;
    width: 199px;
    height: 160px;
    cursor: pointer;
}
.likecontent li:nth-of-type(1)::before{
    background: url(../upload/baobao.png) no-repeat center;
}
.likecontent li:nth-of-type(2)::before{
    background: url(../upload/guo.png) no-repeat center;
}
.likecontent li:nth-of-type(3)::before{
    background: url(../upload/jinbu.png) no-repeat center;
}
.likecontent li:nth-of-type(4)::before{
    background: url(../upload/deng.png) no-repeat center;
}
.likecontent li:nth-of-type(5)::before{
    background: url(../upload/shouji.png) no-repeat center;
}
.likecontent li:nth-of-type(6)::before{
    background: url(../upload/jinghualu.png) no-repeat center;
}
.likecontent li div{
    height: 60px;
    margin-bottom: 8px;
    border-left: 1px solid #ddd;
}
.likecontent li:nth-of-type(1) div{
    border: 0;
}
.likecontent h4{
    padding-left: 35px;
    font-size: 12px;
    color: #666;
    font-weight: 400;
}
.introduce{
    padding-left: 35px;
    font-size: 12px;
    color: #666;
}
.likeprice{
    padding-left: 35px;
    font-size: 18px;
    color: #df3033;
    font-weight: 700;
}
/* 猜你喜欢 like 部分结束 */

/* 有趣区 interest 部分开始 */
.interest {
    height: 439px;
    margin-top: 20px;
}
.interesthd{
    height: 32px;
}
.interesthd h3{
    font-size: 18px; 
    padding-bottom: 5px;
    color: #333;
}
.interesthd span::before{
    content: '\e757';
}
.interestcontent{
    border:1px solid #ddd;
    border-left: 0;
    height: 407px;
}
.interestcontent h4{
    margin: 0 17px;
    border-bottom: 1px dashed #ddd;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #333; 
}
.interestcon1{
    position: relative;
    float: left;
    width: 404px;
    height: 405px;
    background: #b8bddd;
}
.interestcon1::after{
    content: '';
    position: absolute;
    right: 55px;
    bottom: 30px;
    width: 225px;
    height: 262px;
    background: url(../upload/book.png) no-repeat;
}
.interestcon1 p{
    padding:25px 0 0 20px;
    font-size: 18px;
    color: #3b468d;
}
.interestcon2{
    float: left;
    border-right: 1px solid #ddd;
    width: 227px;
    height: 405px;
}
.interestcon3{
    float: left;
    border-right: 1px solid #ddd;
    width: 405px;
    height: 405px;
    background-color: #f7f7f7;
}
.interestimg{
    float: left;
    width: 162px;
    height: 405px;
    background: url(../upload/shangjia.png) no-repeat center;
}
.intericon1{
    position: relative;
    padding: 68px 0 0 10px;
    width: 227px;
    height: 207px;
    border-bottom: 1px solid #ddd;
}
.intericon1::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 135px;
    height: 163px;
    background: url(../upload/jianpan.png) no-repeat;
}
.intericon2{
    position: relative;
    padding: 50px 0 0 10px;
    width: 227px;
    height: 158px;
}
.intericon2::after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 125px;
    height: 146px;
    background: url(../upload/xifu.png) no-repeat;
}
.intericon3{
    position: relative;
    padding: 73px 0 0 60px;
    width: 405px;
    height: 207px;
    border-bottom: 1px solid #ddd;
}
.intericon3::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 205px;
    height: 162px;
    background: url(../upload/dianfanbao.png) no-repeat;
}
.pinpaijie{
    width: 405px;
    height: 158px;
}
.intericon4{
    position: relative;
    float: left;
    padding: 50px 0 0 10px;
    width: 203px;
    height: 158px;
    border-right: 1px solid #ddd;
}
.intericon4::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 114px;
    height: 132px;
    background: url(../upload/xiezi.png) no-repeat;
}
.intericon5{
    position: relative;
    float: left;
    padding: 50px 0 0 10px;
    width: 202px;
    height: 158px;
}
.intericon5::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 120px;
    height: 137px;
    background: url(../upload/temai.png) no-repeat;
}
.interesth3{
    font-size: 16px;
    color:#333;
    margin-bottom: 10px;
}
.interestp1{
    font-size: 12px;
    color:#333;
}
.interestp2{
    font-size: 12px;
    color:#e60012;
}
/* 有趣区 interest 部分结束 */

/* 家用电器 dianqi 部分开始 */
.dianqi{
    height: 479px;
    margin-top:20px;
}
.dianqihd{
    height: 32px;
}
.dianqihdleft{
    float: left;
    font-size: 18px;
    padding-bottom: 5px;
    color: #c81623;
}
.dianqihdright{
    float: right;
    height: 32px;
    margin-right: 20px;
    padding-top:6px;
}
.dianqihdright li{
    float: left;
}
.dianqihdright li::before{
    content: '\e63a';
    padding:0px 15px;
}
.dianqihdright li:first-child::before{
    content: '';
}
.dianqicontent{
    border-top:2px solid #c81623;
}
.dianqicon1{
    float: left;
    width: 210px;
    height: 360px;
    background-color: #f9f9f9;
}
.dianqilist{
    height: 99px;
}
.dianqilist li{
    float: left;
    margin-left: 12px;
    border-bottom: 1px solid #ddd;
    width: 87px;
    height: 33px;
    text-align: center;
    line-height: 33px;

}
.dianshi{
    width: 210px;
    height: 261px;
    text-align: center;
}
.dianshi::after{
    display: block;
    content: '';
    width: 152px;
    height: 141px;
    margin-left: 29px;
    background: url(../upload/dianshi.png) no-repeat center;
}
.dianshi h4{
    margin-top: 25px;
    font-size: 18px;
    color: #c81623;
}
.dianshi p{
    margin:5px 0 20px 0;
    font-size: 12px;
    color: #c81623;
}
.dianqicon2{
    position: relative;
    float: left;
    padding: 40px 0 0 30px;
    width: 330px;
    height: 360px;
    background-color: #aed6d8;
}
.dianqicon2 h4{
    font-size: 18px;
    color: #066c7d;
}
.dianqicon2 p{
    margin:5px 0 20px 0;
    font-size: 16px;
    color: #066c7d;
}
.dianqicon2::after{
    display: block;
    content: '';
    width: 217px;
    height: 215px;
    margin-left: 25px;
    background: url(../upload/chaju.png) no-repeat center;
}
.yuandian{
    position: absolute;
    bottom: 10px;
    left:50%;
    margin-left: -27px;
    width: 54px;
    height: 10px;
}
.yuandian li{
    float: left;
    margin:0 4px;
    width: 0;
    height: 0;
    border:5px solid #3e3e3e;
    border-radius: 5px;
    cursor: pointer;
}
.yuandian li:hover{
    border-color: #fff;
}
.dianqicon3{
    float: left;
    width: 220px;
    height: 360px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.dianqicon3_1{  
    position: relative;
    padding:25px 0 0 20px;
    width: 220px;
    height: 180px;
    border-bottom: 1px solid #ddd;
}
.dianqicon3_1::after{
    position: absolute;
    bottom: 2px;
    right:2px;
    content: '';
    width: 139px;
    height: 85px;
    background: url(../upload/weibolu.png) no-repeat center;
}
.dianqicon3_2{
    position: relative;
    padding:25px 0 0 20px;
    width: 220px;
    height: 180px;
}
.dianqicon3_2::after{
    position: absolute;
    bottom: 2px;
    right:2px;
    content: '';
    width: 155px;
    height: 105px;
    background: url(../upload/leshi.png) no-repeat center;
}
.dianqicon4{
    position: relative;
    float: left;
    padding-top:70px;
    text-align: center;
    width: 220px;
    height: 360px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.dianqicon4::after{
    position: absolute;
    bottom: 55px;
    right:50%;
    margin-right: -87px;
    content: '';
    width: 175px;
    height: 112px;
    background: url(../upload/zhinengdianshi.png) no-repeat center;
}
.dianqicon5{
    float: left;
    width: 220px;
    height: 360px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.dianqicon5_1{  
    position: relative;
    padding:25px 0 0 20px;
    width: 220px;
    height: 180px;
    border-bottom: 1px solid #ddd;
}
.dianqicon5_1::after{
    position: absolute;
    bottom: 2px;
    right:2px;
    content: '';
    width: 114px;
    height: 91px;
    background: url(../upload/kongtiao.png) no-repeat center;
}
.dianqicon5_2{
    position: relative;
    padding:25px 0 0 20px;
    width: 220px;
    height: 180px;
}
.dianqicon5_2::after{
    position: absolute;
    bottom: 2px;
    right:2px;
    content: '';
    width: 124px;
    height: 143px;
    background: url(../upload/dianfengshan.png) no-repeat center;
}
.dianqi_h5{
    font-size: 16px;
    color: #000;
}
.dianqi_p{
    font-size: 14px;
    color:#e60012;
}
.dianqiimg{
    margin-top: 20px;
    height: 65px;
}
/* 家用电器 dianqi 部分结束 */
