.w{
    width: 1200px;
    margin:0 auto;
}
.zhuce-hd{
    border-bottom: 2px solid #b1191a;
    height: 84px;
    line-height: 82px;
    font-size: 0;
    margin-bottom: 20px;
}
.zhuce-con{
    height: 522px;
    border: 1px solid #dfdfdf;
}
.zhuce-con1{
    border-bottom:1px solid #dfdfdf;
    height: 43px;
    color: #333;
    background-color:#ececec;
}
.zhuce-con1 h3{
    float: left;
    font-size: 18px;
    line-height: 41px;
    font-weight: 400;
    padding-left: 10px;
}
.zhuce-con1 span{
    float: right;
    font-size: 14px;
    line-height: 41px;
    padding-right: 10px;
}
.zhuce-con1 span a{
    color: #c81623;
}
.zhuce-con2{
    /* height: 480px; */
    width: 600px;
    margin: 54px auto;
}
.zhuce0con2 .table{
    margin-top: 54px;
}